#logo
{
	left: 7;
	padding-left: 1%;
	margin-top: 4.5%;
}

#main
{
	text-shadow: 1px 1px 2px black, 0 0 25px #ff9900, 0 0 5px orange;
	margin top: 0%;
	margin-left: 10%;
	margin-bottom: 1%;
	padding-top: 1%; 
	text-align: center;
	color: #fff5e6;
}

#menubar
{
	background-color: #ff9900;
	padding-bottom: 1%;
	padding-top: 1%;
	margin-right: 1%;
	margin-left: 0%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

#homepage
{
	padding-left: 26%;
	padding-right: 10%;
	color: white;
	background-color: #ff9900;
	text-decoration: blink;

}

#products
{
	padding-left: 10%;
	color: white;
	padding-right: 10%;
	text-decoration: blink;
	background-color: #ff9900;
}

#contact
{
	padding-left: 10%;
	padding-right: 10%;
	text-decoration: blink;
	color: white;
	background-color: #ff9900;
}

#home
{
	background-image: url('https://www.lipton.com/content/dam/unilever/lipton_international/global/general_image/worldtea_teatype_black_tea_img1_1460x593-1382286.jpg');
	background-size: 100%;
	margin-top: 1%;
	margin-left: 0.3%;
	margin-right: 0.3%;
	margin-bottom: 1%;
	padding-bottom: 30%;
	background-position: center;
	background-attachment: scroll;
}

#forms
{
	margin-top: 0;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 1%;
	padding-left: 5%;
	padding-bottom: 2%;
	padding-right: 1%;
	border-style: solid;
	text-decoration-style: double;
	border-color: #ff9900;
	font-family: times-new-roman;
}

#submit
{
	margin-left: 20%;
	border-style: solid;
	border-radius: 5px;
	background-color: #ff9900;
	color: white;
	border-color: white;
	margin-bottom: 10%;
}

#h
{
	left: 0;
	right: 0;
	color: #cc7a00; 
	background-color: white;
}

#box
{
	padding-right: 32%;
	border-color: #ff9900;
}

#box1
{
	padding-right: 32%;
	padding-bottom: 20%;
	border-color: #ff9900;
}

#p
{
	text-align: right;
	background-color: white;
	border-color: white;
	opacity: 85%;
	border-style: solid;
	margin-top: 0%;
	margin-right: 0;
	margin-bottom: 0;
	padding-bottom: 0.5;
}

#i
{
	text-align: center;
	top: 0;
	background-color: white;
	border-color: white;
	opacity: 85%;
	border-style: solid;
	margin-top: 0%;
	margin-right: 0;
	margin-bottom: 0;
	padding-bottom: 0.5;
}

